@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
/* flatuicolors - For colors 
   google material icons
*/
.page-actions-cont {
  height: 3rem;
  background-color: #218c74;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}
.page-action {
  margin: 0.5rem;
  color: #f1f2f6;
}
.cellprop-actions-cont {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ecf0f1;
}
.cellprop-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
}
.cellprop-actions-cont > select {
  border: none;
  border-radius: 2px;
  text-transform: capitalize;
}

.font-family-prop{
  padding: .2rem;
}
.font-size-prop {
  padding: 0.2rem;
}
.formula-actions-cont {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.formula-actions-cont > *{
   display: inline-block;
   margin: 0.7rem;
}
.formula-actions-cont > input{
    border: none;
    outline: none;
    height: 70%;
}
.formula-icon{
  width: 1.2rem;
}
.address-bar{
  width: 5rem;
  text-align: center;
}
.formula-bar{
  width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.sheet-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sheet-actions-cont > * {
  display: inline-block;
}
.sheet-add-icon{
  /* border: 2px solid red; */
  width: 2vw;
}
.sheets-folder-cont {
  height: 80%;
  /* background-color: yellow; */
  /* width: 5rem; */
  width: calc(100vw - 2vw);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sheet-folder{
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 3px;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-left: 0.8rem;
}
/* ****************************************Grid Cells Styling Starts here************************************ */
.grid-cont {
  height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
  position: relative;
  overflow: scroll;
  background-color: #ecf0f1;
}
.top-left-dummy-box{
  height: 2rem;
  width: 2rem;
  background-color: #747d8c;
  position: fixed;
  z-index: 5;
}
.address-col-cont{
  position: sticky;
  top: 2rem;
  left: 0;
  /* background-color: lightblue; */
}
.address-row-cont{
  /* height: 2rem; */
  /* border: 2px solid black; */
  display: flex;
  /* background-color: beige; */
  /* background-color: lightpink; */
}
.cells-cont{
  position: absolute;
  top: 0;
  left: 2rem;
  /* background-color: lightgreen; */
}

/* Styling Dynamically Generated Address Columns */
.address-col{
    height: 2rem;
    width: 2rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .address-row{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cell{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
  }
  .row-cont{
    display: flex;
  }

/* ****************************************Grid Cells Styling Ends here************************************ */






